# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/quizdb

# JWT Authentication Secret
JWT_SECRET=your_jwt_secret_key_here

# Gemini AI API Key
GEMINI_API_KEY=your_gemini_api_key_here

# Gmail SMTP Configuration for Email Verification & Welcome Emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=manrajtoorsingh@gmail.com
SMTP_PASS=lmmtomjitqfkipmy

# Deployed URLs
FRONTEND_URL=https://quiz-game-six-blue.vercel.app
BACKEND_URL=https://quiz-game-backend-9tet.onrender.com

# Node Server Port (Render sets this dynamically to 10000 internally)
PORT=8080
